header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3;
}

.logo-container {
    width: 50px; /* Примерная ширина */
    height: auto; /* Высота будет автоматически подстроена */
}

.logo {
    width: 100%;
    height: auto;
}

a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex; /* Располагаем контейнеры в ряд */
    justify-content: flex-start; /* Распределение пространства между элементами */
    padding: 20px; /* Некоторое внутреннее пространство */
}

.data-container{
    display: flex; /* Для расположения дочерних элементов в колонку */
    flex-direction: column; /* Дочерние элементы располагаем в колонку */
    margin-right: 20px; /* Отступ справа для внутренних контейнеров */
    width:150px;
}

.enter-container {
    display: flex; /* Для расположения дочерних элементов в колонку */
    flex-direction: column; /* Дочерние элементы располагаем в колонку */
    margin-right: 20px; /* Отступ справа для внутренних контейнеров */
    width: 60%;
}

.combox {
    border: 1px solid black; /* Граница для combobox */
    margin-bottom: 10px; /* Отступ снизу */
    padding: 5px; /* Паддинг внутри combobox */
    width:60%;
}

.mounth {
    display: flex;
    flex-direction: column;
    border: 1px solid black; /* Граница для блока с месяцами */
    padding: 5px; /* Паддинг внутри блока с месяцами */
    height: 400px; /* Высота блока с месяцами */
    overflow-y: auto; /* При необходимости включаем прокрутку по вертикали */
}

.enter-field {
    /* Стили для внешнего контейнера (если это необходимо) */
    display: flex;
    height: 60%; /* Высота поля ввода */
}

#field {
    height: 100%; /* Полная высота родительского элемента */
    width: 62%; /* Полная ширина родительского элемента */
    text-align: start; /* Выравнивание текста слева и сверху */
    box-sizing: border-box; /* Границы и padding включены в ширину и высоту */
    padding: 5px; /* Внутренние отступы */
    resize: none; /* Запрет изменения размеров пользователем */
    overflow: auto; /* Автоматическая прокрутка при необходимости */
    white-space: pre-wrap; /* Перенос текста по словам */
    word-break: break-word; /* Перенос длинных слов на новую строку */
    margin-right: 20px;
}

.statictics {

}

#stat{
    height: 82%; /* Полная высота родительского элемента */
    width: 100%; /* Полная ширина родительского элемента */
    padding: 5px; /* Внутренние отступы */
    border: 1px solid black;
}
.buttons {
    display: flex; /* Для расположения кнопок в ряд */
    justify-content: flex-start; /* Распределение пространства между кнопками */
    margin-top: 30px;
}

.button{
    margin-right: 10px;
}